* text=auto eol=lf

.gitattributes         export-ignore
.gitignore             export-ignore
.env                   export-ignore
.env.example           export-ignore

*.html   text eol=lf diff=html
*.css    text eol=lf diff=css
*.js     text eol=lf diff=javascript
*.md     text eol=lf diff=markdown

uv.lock           -merge
package-lock.json -merge
pnpm-lock.yaml    -merge

*.jpg   binary
*.jpeg  binary
*.png   binary
*.gif   binary
*.ico   binary

*.sh   text eol=lf
*.bat  text eol=lf
